<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2018 SJTUHAAV Lab.  </p>
              <p>We are part of the <a href="http://ioo.sjtu.edu.cn/eng.php">Institute of Oceanography</a> at <a href="https://www.sjtu.edu.cn/">Shanghai Jiao Tong University</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>

	<div class="col-sm-4">
		  Contact:<br />
		  Mulan building, Shanghai Jiao Tong University<br />
		  800 Dongchuan RD<br />
		  Minhang District, Shanghai<br />
		  China <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
